<!-- Panelbear Analytics - We respect your privacy -->
<script async src="https://cdn.panelbear.com/analytics.js?site=FK681rNQuKp"></script>
<script>
  window.panelbear = window.panelbear || function () { window.panelbearQ = window.panelbearQ || []; panelbearQ.push(arguments); };
  panelbear('config', { site: 'FK681rNQuKp' });
</script>

<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
<script>
  (function (f, a, t, h, o, m) {
    a[h] = a[h] || function () {
      (a[h].q = a[h].q || []).push(arguments)
    };
    o = f.createElement('script'),
      m = f.getElementsByTagName('script')[0];
    o.async = 1; o.src = t; o.id = 'fathom-script';
    m.parentNode.insertBefore(o, m)
  })(document, window, 'https://fathom.joshcorp.co/tracker.js', 'fathom');
  fathom('set', 'siteId', 'XFQVM');
  fathom('trackPageview');
</script>
<!-- / Fathom -->