</main>
<footer class="container max-width-l margin-top-xl">
  {{ partial "newsletter.html" . }}
  <div class="box-shadow-l padding-m">
    <div class="h-card flex align-content-center">
      <figure class="icon-xxl">
        <img alt="profile photo" class="u-photo" src="{{ .Site.Params.Avatar | absURL }}" />
      </figure>
      <div class="margin-left-m">
        <h3 class="display-title"><a class="u-url p-name text-decoration-none" href="{{ .Site.BaseURL }}">{{ .Site.Params.Author }}</a></h3>
        <p>Living in Austin <img class="icon-xs" style="vertical-align: middle;" alt="texas" src={{ "img/tx-fill.png" | absURL }} /> from <img class="icon-xs" style="vertical-align: middle;"
            alt="wisconsin" src={{ "img/wi-fill.png" | absURL }} /></p>
        <p id="social">
          <a rel="me" class="u-url margin-right-xs" href="https://github.com/{{ .Site.Params.GitHubUser }}">
            <img class="icon-xs" src={{ "icons/github.svg" | absURL }} alt="github" />
          </a>
          <a class="margin-right-xs" href="https://linkedin.com/in/{{ .Site.Params.LinkedInUser }}/">
            <img class="icon-xs" src={{ "icons/linkedin.svg" | absURL }} alt="linkedin" />
          </a>
          <a href="mailto:{{ .Site.Params.EmailAddress }}" class="u-email margin-right-xxs" rel="me">
            <img class="icon-xs" src={{ "icons/envelope.svg" | absURL }} alt="email" />
          </a>
          <a href="{{ ref . "payments.md" }}">
            <img class="icon-xs" src={{ "icons/beer-money-icon.svg" | absURL }} alt="beermoney" />
          </a>

          <!-- <button class="button button-icon button-xs" style="background-color:transparent;padding:0;border:0;" role="link" type="button">
            <img class="icon-xs" src={{ "icons/beer-money-icon.svg" | absURL }} alt="beermoney" />
          </button> -->
        </p>
      </div>
    </div>
  </div>
</footer>
</div>
{{ partial "analytics.html" . }}
</body>

</html>