</main>
<footer class="container max-width-l margin-top-xl">
  <div class="box-shadow-l padding-m">
    <div class="h-card flex align-content-center">
      <figure class="icon-xxl">
        <img class="u-photo" src="{{ .Site.Params.Avatar | absURL }}" />
      </figure>
      <div class="margin-left-m">
        <h3 class="display-title"><a class="u-url p-name text-decoration-none" href="{{ .Site.BaseURL }}">{{ .Site.Params.Author }}</a></h3>
        <p>Living in Austin <img class="icon-xs" alt="texas" src={{ "img/texas.png" | absURL }} /> from <img class="icon-xs"
            alt="wisconsin" src={{ "img/wisconsin.png" | absURL }} /></p>
        <p id="social">
          <a rel="me" class="u-url margin-right-xs" href="https://github.com/kasuboski">
            <img class="icon-xs" src={{ "icons/github.svg" | absURL }} />
          </a>
          <a class="margin-right-xs" href="https://linkedin.com/kasuboski">
            <img class="icon-xs" src={{ "icons/linkedin.svg" | absURL }} />
          </a>
          <a href="mailto:{{ .Site.Params.EmailAddress }}" class="u-email margin-right-xxs" rel="me">
            <img class="icon-xs" src={{ "icons/envelope.svg" | absURL }} alt="email" />
          </a>

          <button class="button button-icon button-xs" style="background-color:transparent;padding:0;border:0;"
            id="checkout-button-beermoney" role="link" type="button">
            <img class="icon-xs" src={{ "icons/beer-money-icon.svg" | absURL }} alt="beermoney" />
          </button>
        </p>
      </div>
    </div>
  </div>
</footer>
</div>
<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
<script>
  (function (f, a, t, h, o, m) {
    a[h] = a[h] || function () {
      (a[h].q = a[h].q || []).push(arguments)
    };
    o = f.createElement('script'),
      m = f.getElementsByTagName('script')[0];
    o.async = 1; o.src = t; o.id = 'fathom-script';
    m.parentNode.insertBefore(o, m)
  })(document, window, 'https://fathom.joshcorp.co/tracker.js', 'fathom');
  fathom('set', 'siteId', 'XFQVM');
  fathom('trackPageview');
</script>
<!-- / Fathom -->
<script src="https://js.stripe.com/v3"></script>
<script>
  (function () {
    var DOMAIN = 'https://www.joshkasuboski.com/';
    var key = 'pk_live_51HJtKkASjDZJS9C9Ja9g6zTFbaTEdW7uCK2OTK1dq741RisoSBtSIac1QEMphVCEEkA7hTeuopkUsajAyWuyH7kT00cU4iVGfX';
    var price = 'price_1HJtUTASjDZJS9C90kJjztUq';
    // var price = 'price_1HJtbvASjDZJS9C9zEXKLAED';
    // var key = 'pk_test_51HJtKkASjDZJS9C9e6Ig9IygOBnVvBXlD2WKjtXJZlNTQ4YNfKCHTVpAH4umFYq890xI1tZt4NlBD8vKmTbj2QUT00dCOT3QQT';
    var stripe = Stripe(key);

    var checkoutButton = document.getElementById('checkout-button-beermoney');
    checkoutButton.addEventListener('click', function () {
      // When the customer clicks on the button, redirect
      // them to Checkout.
      stripe.redirectToCheckout({
        lineItems: [{ price: price, quantity: 1 }],
        mode: 'payment',
        // Do not rely on the redirect to the successUrl for fulfilling
        // purchases, customers may not always reach the success_url after
        // a successful payment.
        // Instead use one of the strategies described in
        // https://stripe.com/docs/payments/checkout/fulfillment
        successUrl: DOMAIN + 'success',
        cancelUrl: DOMAIN + 'canceled',
      })
        .then(function (result) {
          if (result.error) {
            // If `redirectToCheckout` fails due to a browser or network
            // error, display the localized error message to your customer.
            var displayError = document.getElementById('error-message');
            displayError.textContent = result.error.message;
          }
        });
    });
  })();
</script>
</body>

</html>