<div class="margin-bottom-m">
  <h4>Get more of my thoughts in an email newsletter!</h4>
  <form action="https://buttondown.email/api/emails/embed-subscribe/kasuboski" method="post" target="popupwindow"
    onsubmit="window.open('https://buttondown.email/kasuboski', 'popupwindow')" class="embeddable-buttondown-form">
    <label for="bd-email">Your Email</label>
    <input type="email" name="email" id="bd-email" placeholder="me@email.com"></input>
    <input type="hidden" value="1" name="embed"></input>
    <button class="button button-primary button-border" type="submit" value="Subscribe">Subscribe</button>
    <p class="font-size-s">
      <a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a>
    </p>
  </form>
</div>